<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Messages</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand navbar-dark bg-dark"
        aria-label="Second navbar example"
      >
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="/logo.png" alt="logo" />
          </a>
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/message.html">Send message</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/read">Read messages</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal">Messages</h1>
      </div>
    </header>

    <main class="container">
      {% if messages %}
        <div class="list-group mb-4">
          {% for timestamp, data in messages.items() %}
            <div class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ data.username }}</h5>
                <small class="text-muted">{{ timestamp }}</small>
              </div>
              <p class="mb-1">{{ data.message }}</p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p class="text-muted text-center fs-5">No messages yet.</p>
      {% endif %}
    </main>
  </body>
</html>
